@import '../global/global';

.section.contact {
  & .contact-info {
    @include flexCenter;
    gap: 0.5rem;
    margin-bottom: 1rem;
    font-size: larger;
    & .icon {
      justify-self: center;
      width: 1.75em;
      height: 1.75em;
    }
  }
}
