@import '../global/global';

.section {
  min-height: 100vh;
  @include flexCenter;
  flex-direction: column;
  scroll-snap-align: start;
  padding: 1rem; 

  &.dark {
    background-color: $primary-color;
    color: $secondary-color;
  }
  &.light {
    background-color: $secondary-color;
    color: $primary-color;
  }
  & .content {
    margin: 2rem;
    padding: 2rem;
    max-width: 1200px;
&.text * {
  margin: 2rem;
}
  }

  .btn-container {
    @include flexCenter;
  }
}
@media screen and (max-width: $mobile) {
  .section .content {
    margin: 0;
    padding: 0.75rem 0rem;
    p {
      font-size: 1.2rem;
    }
  }
}
