//scss variables
//$primary-color: #151324;
//$primary-color-lighter: #252235;

$primary-color: #1e1e1e;
$primary-color-lighter: #000000;

$secondary-color: #fafbfb;
$secondary-color-accent: #6161ff;
//accents
//$pastelgreen: #69beb3;
$pastelgreen: #00be79;
$neon-blue: #6161ff;
$pastelviolet: #b9bfff;
$pastel-pink: #ff9eec;
$sweatbitter: #ff6161;
$pastel-yellow: #ffeb87;
//$pastel-yellow: #fcfa9d;
$mobile: 768px;
$small-screen: 1024px;

$main-font: 'Poppins';

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin hoverLinks {
  transform: scale(1.1);
  //color: $secondary-color-accent;
}

@mixin borderTags($color, $width) {
  border: solid $width $color;
  padding: 0.5rem;
  border-radius: 3rem;
}
@mixin linkWithIcon($color, $hoverColor) {
  color: $color;
  & .icon * {
    fill: $color;
  }

  & .active {
    color: $hoverColor;
    & .icon * {
      fill: $hoverColor;
    }
  }

  &:hover {
    color: $hoverColor;
    & .icon * {
      fill: $hoverColor;
    }
  }
}

body {
  font-family: $main-font;
}

h1 {
  font-weight: 600;
  font-size: 4rem;
  text-align: center;
}
h2 {
  font-weight: 500;
  font-size: 2rem;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
.btn {
  border: 2px solid $neon-blue;
  color: $neon-blue;
  font-size: 1.2rem;
  font-weight: 100;
  padding: 1rem;
  border-radius: 2rem;
  background-color: inherit;
  &:hover {
    cursor: pointer;
    background-color: $neon-blue;
    color: $secondary-color;
  }
}
