body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
button {
  background-color: inherit;
  font-size: inherit;
  border: none;
  box-shadow: none;
  @include hoverLinks;
}
