@import './global', './resets', './mobile';
@import '../components/header', '../components/sections',
  '../components/projects-list', '../components/project',
  '../components/contact', '../components/particles';

body {
  background-color: $primary-color;
}
p {
  font-size: 18px;
}
.page {
  display: grid;
  grid-template-columns: 15% 85%;

  & .content {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;

    grid-column-end: -1;
    min-height: 100vh;
  }
}

// .chevron-wrapper {
//   position: absolute;
//   bottom: 1rem;
//   right: 2rem;
//   z-index: 3;
//   height: 40px;
//   width: 40px;
//   & .icon:hover {
//     @include hoverLinks;
//   }
// }
